<!--logo start-->
<div class="brand">
    <a href="index.html" class="logo hidden-xs">
        <i class="icon-layers"></i>
        <span>Tel</span>Rock</a>
</div>
<!--logo end-->
<ul class="nav navbar-nav navbar-left">
    <li class="toggle-navigation toggle-right hidden-sm hidden-md hidden-lg" fullscreen-mode></li>
</ul>
<ul class="nav navbar-nav navbar-right">
     <li class="dropdown profile">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="meta">
                            <span class="avatar">
                                <img src="/img/uk_flag_profile.png" class="img-circle" alt="">
                            </span>
                            <span class="text" translate="change.language"></span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated flipInX" role="menu">
                        <li>
                            <span class="arrow top"></span>
                            <h5>
                                
                                <small class="text-muted">100% multilingual</small>
                            </h5>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar" style="width: 100%">
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" id="lang" ng-click="vm.changeLanguage('en-UK')">
                                <span class="icon"><i class="fa fa-comments-o"></i>
                                </span>English</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="lang" ng-click="vm.changeLanguage('fr-FR')">
                                <span class="icon"><i class="fa fa-comments-o"></i>
                                </span>French</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-sign-out"></i>
                                </span>Help</a>
                        </li>
                    </ul>
                </li>
    <li class="toggle-navigation toggle-right hidden-xs" fullscreen-mode></li>
</ul>
